.list {
  text-align: left;
  max-width: 1200px;
  margin: auto;
}

.list-group-item {
  cursor: pointer;
}
.list-group-item:hover {
  left: -2px;
}

.submit-form {
  max-width: 600px;
  margin: auto;
}

.edit-form {
  max-width: 600px;
  margin: auto;
}

.item-info {
  max-width: 800px;
  margin: auto;
}

.item-price {
  margin: 20px 0px;
}

a[target='_blank']::after {
  content: '\2197';
}

.footer{
  padding: 1rem;
  color: #fff;
  background-color: #343a40;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
